<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="10"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</h1></b></center>
<center><b><h1>Lab - 1</h1></b></center>
<center><b><h1>Harshraj Thesia</h1></b></center>
<center><b><h1>23010101270</h1></b></center>
<center><b><h1>CSE-4A-154</h1></b></center>
<center><b><h1>26-Nov-24</h1></b></center>
<pre>

### 01) WAP to print “Hello World”

In [1]:
print("Hello World")

Hello World

### 02) WAP to print addition of two numbers with and without using input().

In [6]:
a=5
b=10
print(a+b)

c=int(input("Enter c: "))
d=int(input("Enter d: "))
print(c+d)

15

Enter c:  456
Enter d:  984

1440

### 03) WAP to check the type of the variable.

In [9]:
a=46
b=456.1464
c="Hello World!"

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

### 04) WAP to calculate simple interest.

In [11]:
p=1000
r=7
t=3

print("Simple Interest: ", (p*r*t)/100)

Simple Interest:  210.0

### 05) WAP to calculate area and perimeter of a circle.

In [14]:
r=5
print("Area : ", 3.14*r*r,"sq.unit")
print("Perimeter : ", 3.14*2*r, "unit")

Area :  78.5 sq.unit
Perimeter :  31.400000000000002 unit

### 06) WAP to calculate area of a triangle.

In [15]:
b=5
h=10

print("Area : ", 0.5*b*h)

Area :  25.0

### 07) WAP to compute quotient and remainder.

In [17]:
a=5
b=2
print("quotient : ", 5//2)
print("remainder : ", 5%2)

quotient :  2
remainder :  1

### 08) WAP to convert degree into Fahrenheit and vice versa.

In [18]:
c=int(input("Enter Celsius: "))
f=(c* 9/5) + 32
print("Fahrenheit : ", f)

c=int(input("Enter Fahrenheit: "))
c=(f - 32) * 5/9
print("Celsius : ", c)

Enter Celsius:  -40

Fahrenheit :  -40.0

Enter Fahrenheit:  -40

Celsius :  -40.0

### 09) WAP to find the distance between two points in 2-D space.

In [20]:
x1=5
x2=4
y1=-5
y2=-1
distance = (((x2 - x1)**2 + (y2 - y1)**2)**0.5)
print(distance)

4.123105625617661

### 10) WAP to print sum of n natural numbers.

In [26]:
n = 5

if n < 0:
   print("Enter a positive number")
else:
   sum = 0
   while(n > 0):
       sum += n
       n -= 1
   print("The sum is", sum)

The sum is 15

### 11) WAP to print sum of square of n natural numbers.

In [25]:
n = 5

if n < 0:
   print("Enter a positive number")
else:
   sum = 0
   while(n > 0):
       sum += n**2
       n -= 1
   print("The sum is", sum)

The sum is 55

### 12) WAP to concate the first and last name of the student.

In [28]:
print("Priyanshu" +" "+ "Choudhary")

Priyanshu Choudhary

### 13) WAP to swap two numbers.

In [29]:
a,b = 5,8

a,b = b,a

print("a : ", a , "b : ",b)

a :  8 b :  5

### 14) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [34]:
k=float(input("Enter distance in KM : "))

print("In meter : ", k*1000 , "meters")
print("In feet : ", k*1000*3.28 , "feet")
print("In inches : ", k*1000*39.37 , "inches")
print("In centimeter : ", k*100000 , "centimeters")

Enter distance in KM :  18.46

In meter :  18460.0 meters
In feet :  60548.799999999996 feet
In inches :  726770.2 inches
In centimeter :  1846000.0 centimeters

### 15) WAP to get day, month and year from the user and print the date in the given format: 23-11-2024.

In [39]:
day = int(input("Enter day : "))
mon = int(input("Enter month : "))
yr = int(input("Enter year : "))

print(day, mon, yr, sep="-")

Enter day :  23
Enter month :  11
Enter year :  2024

23-11-2024